@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, *::before, *::after {
  display: inline-block;
}

.story__subtitle {
  text-align: center;
  margin-bottom: 96px;
}
.story__since {
  font-size: 14px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.story__we-are {
  font-size: 18px;
  font-family: "Instrument Serif", serif;
  line-height: 16px;
  letter-spacing: -1px;
  text-transform: none;
}
.story__title {
  text-align: center;
  margin-bottom: 130px;
}
.story__main-title {
  font-size: 170px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -4px;
  text-transform: uppercase;
  margin-bottom: 96px;
}
.story__second-title {
  font-size: 64px;
  font-family: "Instrument Serif", serif;
  line-height: 64px;
}
.team {
  display: flex;
  justify-content: center;
}
.team__person {
  text-align: center;
  margin-inline: -20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.team__person.person-1 {
  z-index: 6;
}
.team__person.person-2 {
  z-index: 5;
}
.team__person.person-3 {
  z-index: 4;
}
.team__person:hover {
  transform: translateY(-40px);
}
.team__portrait {
  filter: grayscale(100%);
}
.team__info {
  position: relative;
  top: -20px;
  display: inline-block;
  transform: skewX(15deg) rotate(15deg);
  transform-origin: left;
}
.team__name {
  font-size: 14px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.team__position {
  font-size: 18px;
  font-family: "Instrument Serif", serif;
  letter-spacing: -1px;
}

.marquee__partners {
  overflow: hidden;
  width: 100%;
}
.marquee__list {
  padding-left: 120px;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  -moz-column-gap: 120px;
       column-gap: 120px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  animation: scrollLeft 30s linear infinite;
}
.marquee__list.paused {
  animation-play-state: paused;
}
.marquee__partner {
  flex: 0 0 auto;
  transition: all 0.3s ease-in-out;
}
.marquee__partner:hover {
  scale: 1.1;
  transform-origin: center;
}
.marquee__link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 96px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  white-space: nowrap;
}
.marquee__link:hover {
  color: var(accent-color);
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.capabilities__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.capabilities__column {
  grid-column: 2;
}
.capabilities__title {
  font-size: 64px;
  font-family: "Instrument Serif", serif;
  margin-bottom: 54px;
}
.capabilities__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 150px;
}
.capabilities__item {
  font-size: 24px;
  letter-spacing: -1px;
  white-space: nowrap;
}

.button-with-arrow {
  display: flex;
  align-items: center;
  font-family: "Instrument Sans", sans-serif;
  font-size: 17px;
  padding: 23px 32px 23px 32px;
  border-radius: 100px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  transform: scale(1); /* обов'язково */
}
.button-with-arrow:hover {
  background-color: #a6a6a6;
}
.button-with-arrow:active {
  transform: scale(0.9);
}

.footer {
  padding-bottom: 128px;
}
.footer__mailbox {
  text-align: center;
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 88px;
  background: linear-gradient(to bottom, #212121 0%, transparent 33.33%, transparent 100%);
  border-radius: 32px 32px 0 0;
  margin-inline: 32px;
}
.footer__marquee {
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  white-space: nowrap;
}
.footer__navigation-list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.footer__navigation-item a {
  color: #616161;
  font-weight: 500;
  font-size: 12px;
}

.marquee-footer__text {
  font-size: 128px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -3px;
}
.marquee-footer__italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?d6sz2t");
  src: url("../fonts/icomoon.eot?d6sz2t#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?d6sz2t") format("truetype"), url("../fonts/icomoon.woff?d6sz2t") format("woff"), url("../fonts/icomoon.svg?d6sz2t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-arrow-right:before {
  content: "\ea34";
}

.icon-arrow-right2 {
  color: #000;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  margin-left: 10px;
}

.icon-circle-right:before {
  content: "\ea42";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0F0F0F;
  font-family: "Instrument Sans", sans-serif;
  color: #fff;
}

a {
  color: #fff;
}

[class*=container] {
  max-width: 1148px;
  margin: 0 auto;
}
@media (max-width: 1200.98px) {
  [class*=container] {
    max-width: 790px;
  }
}
@media (max-width: 990.98px) {
  [class*=container] {
    max-width: 750.98px;
  }
}
@media (max-width: 767.98px) {
  [class*=container] {
    max-width: none;
    padding: 0 15px;
  }
}

section {
  margin-bottom: 160px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__bar {
  display: flex;
  justify-content: space-between;
  background-color: #1C1C1C;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-radius: 20px;
  padding: 16px 32px;
  margin-block: 24px;
}
.navigation__link {
  transition: all 0.1s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
.navigation__link:hover {
  color: #a6a6a6;
}
.navigation__link:active {
  scale: 0.9;
}

.hero__container {
  margin: 140px auto 220px auto;
}
.hero__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 128px;
  text-align: center;
}
.hero__span-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  position: relative;
  z-index: 1;
}
.hero__span-uppercase {
  font-weight: 500;
  letter-spacing: -3px;
  text-transform: uppercase;
}
.hero__two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero__card {
  width: 200px;
  height: 270px;
  border-radius: 20px;
  animation: floaty 20s ease-in-out infinite;
}
@keyframes floaty {
  0% {
    transform: translateY(-80px) translateX(200px) rotate(5deg) skew(-3deg, -5deg);
  }
  25% {
    transform: translateY(-310px) translateX(660px) rotate(-50deg) skew(10deg, 5deg);
  }
  50% {
    transform: translateY(50px) translateX(800px) rotate(-20deg) skew(0deg, 5deg);
  }
  75% {
    transform: translateY(-360px) translateX(130px) rotate(-60deg) skew(5deg, 0deg);
  }
  100% {
    transform: translateY(-80px) translateX(200px) rotate(5deg) skew(-3deg, -5deg);
  }
}
.hero__column {
  grid-column: 2;
  margin-block: 56px;
  max-width: 368px;
}
.hero__text {
  font-size: 15px;
  text-align: justified;
  margin-bottom: 40px;
  line-height: 1.3;
}
.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 160px;
}
.cards__card {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.cards__card:hover .cards__text {
  transform: translate(-50%, -125%);
}
.cards__card:hover .cards__element {
  transform: translate(-50%, -55%);
}
.cards__card:hover .cards__properties {
  bottom: 3%;
}
.cards__backgr {
  width: 100%;
  border-radius: 20px;
}
.cards__element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
.cards__element.coin {
  width: 80%;
}
.cards__element.phone {
  width: 30%;
}
.cards__element.shirt {
  width: 80%;
}
.cards__element.globe {
  width: 21%;
}
.cards__text {
  font-size: 18px;
  white-space: nowrap;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.cards__properties {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: -7%;
}
.cards__property {
  background-color: #1C1C1C;
  border-radius: 100px;
  padding: 6px 16px;
  font-size: 10px;
}