.capabilities {

      &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: $breakpoint-xs) {
            grid-template-columns: 1fr;
            text-align: center;
      }

      }

      &__column {
      grid-column: 2;
      @media (max-width: $breakpoint-xs) {
            grid-column: 1;
      }
      }

      &__title {
      font-size: 64px;
      font-family: "Instrument Serif",serif;
      margin-bottom: 54px;
      @media (max-width: $breakpoint-xs){
            margin-bottom: 32px;
            font-size: 48px;
            }
      }

      &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px 150px;
      @media (max-width: $breakpoint-md) {
            gap: 20px 50px;
            }
      @media (max-width: $breakpoint-sm) {
            gap: 16px 32px;
            grid-template-columns: 1fr 1fr;

            }

      }

      &__item {
      font-size: 24px;
      letter-spacing: -1px;
      white-space: nowrap;
      @media (max-width: $breakpoint-sm){
            font-size: 22px;
            }
      @media (max-width: $breakpoint-xs){
            font-size: 20px;
            }
      @media (max-width: $breakpoint-xxs){
            font-size: 18px;
            }
      }
}
