@keyframes scrollFooter {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-25%);
	}
}
$duration-footer: 10s;


.footer {
	width: 100%;
	overflow-x: clip;
	overflow-y: visible;

	padding-bottom: 128px;
	position: relative;
	margin-top: 600px;
	@media (max-width: $breakpoint-sm){
		margin-top: 400px;
	}
	@media (max-width: $breakpoint-xs){
		margin-top: 300px;
		padding-bottom: 40px;

	}

		&__mailbox {
			text-align: center;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-65%);
			z-index: 3;
			max-width: 700px;
			width: 100%;
			& img{
				width: 100%;
				height: auto;
			}
			@media (max-width: $breakpoint-md) {
				max-width: 500px;
				transform: translateX(-50%) translateY(-65%);
			}
			@media (max-width: $breakpoint-xs) {
				max-width: 500px;
				transform: translateX(-50%) translateY(-73%);
			}
		}


		&__body{
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 88px;
			background: linear-gradient(
				to bottom,
				#212121 0%,
				transparent 33.33%,
				transparent 100%
				);
			border-radius: 32px 32px 0 0 ;
			margin-inline: 32px;
			@media (max-width:$breakpoint-sm) {
				border-radius: 24px 24px 0 0;
				margin-inline: 12px;
			}
			@media (max-width: $breakpoint-xs) {
				row-gap: 32px;
			}
		}


		&__marquee {
			display: flex;
			max-width: max-content;
			white-space: nowrap;
			padding-left: 32px;
			animation: scrollFooter $duration-footer linear infinite;
			@media (max-width: $breakpoint-md) {
				animation: scrollFooter $duration-footer*2 linear infinite;
			}
			
			@media (max-width: $breakpoint-xs) {
				animation: scrollFooter $duration-footer linear infinite;
			}


		}

		
		&__navigation-list {
			display: flex;
			column-gap: 50px;

			@media (max-width: $breakpoint-sm) {
				column-gap: 25px;
				row-gap: 20px;
				flex-wrap: wrap;
				justify-content: space-around;
			}
			@media (max-width: $breakpoint-xs ) {
				column-gap: 90px;

			}
		}

		&__navigation-item {
			& a{
				white-space: nowrap;
				color: $color-hover;
				font-weight: 500;
				font-size: 12px;
				transition: all 0.1s ease-in-out;
				&:hover{
					color: $color-text;
					scale: 1.1;
				}
			}
		}
}

.marquee-footer {

		&__text {
			font-size: 128px;
			font-family: "Instrument Sans",sans-serif;
			font-weight: 500;
			letter-spacing: -3px;

			@media (max-width: $breakpoint-md) {
				font-size: 80px;
			}
			@media (max-width: $breakpoint-sm) {
				font-size: 64px;
			}
			@media (max-width: $breakpoint-xs) {
				font-size: 48px;
				letter-spacing: -1px;
				
			}
		}
		
		&__italic {
			font-family: "Instrument Serif",serif;
			font-style: italic;
		}
}
