//! COLORS
$color-bg: #000;
$color-bg-second: #1C1C1C;
$color-text: #fff;
$color-hover: #a6a6a6;
$accent-color: #ED732E;


//! BREAKPOINTS 
$breakpoint-xxs: 425px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

.button-with-arrow{
    display: inline-flex; /* замість flex, щоб не тягнулось на весь рядок */
    align-items: center;
    font-family: "Instrument Sans",sans-serif;
    font-size: 17px;
    padding: 23px 32px;
    border-radius: 100px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    transform: scale(1); /* обов'язково */
    color: $color-bg;
    background-color: $color-text;
    &:hover{
        background-color: $color-hover;
    }
    &:active{
        transform: scale(0.9);
    }
        @media (max-width: $breakpoint-xs){
        font-size: 14px;
        padding: 18px 24px;
        border-radius: 100px;
    }
}